{% extends "base.html" %}

{% block title %}Eventos{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Eventos</h1>
    <div class="row">
        {% for evento in eventos %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ evento.imagen.url }}" class="card-img-top" alt="{{ evento.nombre }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ evento.nombre }}</h5>
                        <p class="card-text">{{ evento.fecha }}</p>
                        <a href="{% url 'evento_detalle' evento.id %}" class="btn btn-primary">Ver detalles</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}